<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div id="app">
<!--  <label for="agreement">-->
<!--    <input type="checkbox" id="agreement" v-model="isAgree">同意协议-->
<!--  </label>-->
<!--  <h2>您的选择是: {{isAgree}}</h2>-->
<!--  <button :disabled="isAble">下一步</button>-->
  <label for="">
    <input type="checkbox" value="篮球" v-model="hobbies">篮球
    <input type="checkbox" value="足球" v-model="hobbies">足球
    <input type="checkbox" value="乒乓球" v-model="hobbies">乒乓球
    <input type="checkbox" value="羽毛球" v-model="hobbies">羽毛球
  </label>
  <h2>您的爱好是{{hobbies}}</h2>
</div>
<script src="../js/vue.js"></script>
<script >
  const app = new Vue({
    el: '#app',
    data: {
      isAgree: false,
      hobbies: [] //
    },
    computed: {
      isAble() {
        return !this.isAgree
      }
    }
  })
</script>

</body>
</html>
